# Database
DATABASE_URL="file:./dev.db"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"

# ENA Credentials (for submission module)
ENA_USERNAME=""
ENA_PASSWORD=""
ENA_TEST_MODE="true"

# Optional: File storage base path
DATA_BASE_PATH=""
